{% extends 'base.html' %}

{% block title %}New Post-planUp{% endblock %}

{% block content %}
    <form class="form-group" action="{{url_for('posts.new_post')}}" method="post">
      {{form.csrf_token}} {{form.title.label}} {{form.title}}

      <ul>
        {% for error in form.title.errors %}
          <li class="text-decoration-none error">{{ error }}</li>
        {% endfor %}
      </ul>

      {{form.description.label}} {{form.description}}

      <ul>
        {% for error in form.description.errors %}
          <li class="text-decoration-none error">{{ error }}</li>
        {% endfor %}
      </ul>

      {{form.media.label}} {{form.media}}

      <ul>
        {% for error in form.media.errors %}
          <li class="text-decoration-none error">{{ error }}</li>
        {% endfor %}
      </ul>

      <input type="submit" value="Submit" />
    </form>
{% endblock %}