{% extends 'base.html' %}

{% block title %} Sign In-planUp {% endblock %}

<!--Sign In Page-->
{% block content %}
    <!--Navbar-->
    <nav class="navbar fixed-top navbar-expand-lg bg-body-tertiary">
        <div class="container container-fluid">
          <a class="navbar-brand" href="#">planUp</a>
          <!--Navbar items next to brand-->
          <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <!--Home Link-->
                        <a class="nav-link active" aria-current="home" href="#">
                            Home
                        </a>
                    </li>
                    <!--Browse Link-->
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Browse
                        </a>
                    </li>
                    <!--About Link-->
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            About
                        </a>
                    </li>
                    <!--Buttons-->
                    <form class="container container-fluid justify-content-start">
                        <!--Sign In Button-->
                        <button class="btn btn-outline-success me-2" type="button" href="#">
                            Login
                        </button>
                        <!--Sign Up Button-->
                        <button class="btn btn-outline-success me-2" type="button" href="#">
                            Sign Up
                        </button>
                    </form>
                </ul>
          </div>
        </div>
    </nav>
    <!--End of Navbar-->
    <!--Sign In Form-->
   <div class="container container-fluid">
        <form class="form-group">
            <!--Email Field-->
            <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control-plaintext" value="email@example.com">
                </div>
            </div>
            <!--Password Field-->
            <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" required>
                </div>
            </div>
            <!--Sign In Button and Sign Up link-->
            <div class="col-12 mt-3">
                <div>
                    <a href="">Need an account?</a>
                </div>
                <!--Sign In Button-->
                <div class="col-12 mt-3">
                    <button type="submit" class="btn btn-primary">Sign In</button>
                </div>
            </div>
        </form>
   </div>
   <!--End of Sign In Form-->
   <!--Footer-->
   <hr class="hr">
   <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top fixed-bottom">
       <div class="col mb-3">
           <h5>planUp</h5>
           <p class="text-muted">&copy;2024</p>
       </div>
       <!--Quick Links-->
       <div class="col mb-3">
           <h5>Quick Links</h5>
           <ul class="nav flex-column">
               <li class="nav-item mb-2">
                   <a href="#" class="nav-link p-0 text-muted text-decoration-none">
                       Home
                   </a>
               </li>
               <!--Browse-->
               <li class="nav-item mb-2">
                   <a href="#" class="nav-link p-0 text-muted text-decoration-none">
                       Browse
                   </a>
               </li>
               <!--Our Story/About-->
               <li class="nav-item mb-2">
                   <a href="#" class="nav-link p-0 text-muted text-decoration-none">
                       Sign Up
                   </a>
               </li>
           </ul>
       </div>
       <!--Section 2-->
       <div class="col mb-3">
           <h5>Company</h5>
           <ul class="nav flex-column">
               <li class="nav-item mb-2">
                   <a href="#" class="nav-link p-0 text-muted text-decoration-none">
                       Careers
                   </a>
               </li>
               <!--Browse-->
               <li class="nav-item mb-2">
                   <a href="#" class="nav-link p-0 text-muted text-decoration-none">
                       Contact Us
                   </a>
               </li>
               <!--Our Story/About-->
               <li class="nav-item mb-2">
                   <a href="#" class="nav-link p-0 text-muted text-decoration-none">
                       Our Story
                   </a>
               </li>
           </ul>
       </div>
       <!--Section 3-->
       <div class="col mb-3">
           <h5>Support</h5>
           <ul class="nav flex-column">
               <li class="nav-item mb-2">
                   <a href="#" class="nav-link p-0 text-muted text-decoration-none">
                       FAQ
                   </a>
               </li>
               <!--Browse-->
               <li class="nav-item mb-2">
                   <a href="#" class="nav-link p-0 text-muted text-decoration-none">
                       Resources Hub
                   </a>
               </li>
               <!--Our Story/About-->
               <li class="nav-item mb-2">
                   <a href="#" class="nav-link p-0 text-muted text-decoration-none">
                       Support Docs
                   </a>
               </li>
           </ul>
       </div>
   </footer>
   <!--End of Footer Section-->
{% endblock %}